@import url('nature.css');

/* Use link color for xrefs */
a tt.xref,
a code.xref {
    color: #005b81;
}

/* Except in headlines */
h1 a tt.xref,
h1 a code.xref {
    color: #212224;
}

/* Draw lines in call graph */
div#call-graph ul ul {
    border-left: 1px solid #ddd;
}
